body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffe6;
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 1%;
	padding-right: 1%;
	margin-bottom: 20px;
	font-size: 35px;
	color: black;
	border-bottom: solid 1px black;
	position: relative;
}

#leftDiv {
	float: left;
	width: 29%;
	margin-left: 1%;
}

.title {
	margin: 0;
	padding: 3%;
	width: 94%;
	font-weight: bold;
	color: #999999;
}

#status{
	margin: 0;
	padding: 3%;
	width: 94%;
	height: 50px;
	font-size: 14px;
	text-align: justify;
	overflow: auto;
}

#loadingMessage {
	margin: 0;
	padding-left: 3%;
	padding-bottom: 3%;
	width: 94%;
	font-size: 14px;
	text-align: justify;
}

select {
	margin: 0;
	position: absolute;
	right: 1%;
	top: 20px;
	bottom: 20px;
	border: none;
}

nav {
	background-color: #f1f1f1;
	margin-bottom: 10px;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	border-bottom: solid 1px black;
	text-align: center;
}

li:hover {
	border-width: 2px;
	font-weight: bold;
}

li a {
	text-decoration: none;
	color: black;
	display: block;
}

li button {
	width: 100%;
	height: 25px;
	display: block;
	border: none;
	background-color: #f1f1f1;
}

#statusArea {
	background-color: #f1f1f1;
	width: 100%;
}

article {
	float: left;
	width: 68%;
	height: 500px;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #f1f1f1;
	overflow-y: auto;
	text-align: justify;
	padding: 1%;
	border: solid 1px black;
	box-sizing: border-box;
}

section:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	border-top: solid 1px black;
	padding: 10px;
	text-align: center;
	color: black;
	margin-top: 20px;
}

/* Responsive design here might improve user experience when viewing in a small window size */
@media (max-width: 780px) {
	#leftDiv, article{
		margin: 1%;
		width: 98%;
	}
}